<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en-us">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{subject}}</title>
</head>

<body>
  <center>
    <table style="font-size: 14px; width: 100%; max-width: 640px; padding-top: 34px;" border="0" cellspacing="0"
      cellpadding="0">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table style="font-size: 14px; width: 100%; max-width: 640px;" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td align="center" valign="top">
                    <table style="width: 100%; max-width: 640px;" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; border-bottom: 0;" colspan="4">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <table style="padding-bottom: 0; margin-bottom: 0;" border="0" width="100%" cellspacing="0"
                      cellpadding="0" align="left" bgcolor="#ffffff">
                      <tbody>
                        <tr>
                          <td style="padding-left: 15px; padding-right: 15px;" align="left">
                            <p style="color: #55575a; font-size: 18px;">Hi, {{name}}.</p>
                            <p style="padding-top: 24px; font-size: 14px;">Please, try log in with your new temporary password:
                            </p>
                            <div
                              style="margin: 24px 0; background: #f8f8f8; color: #d30710; text-align: center; font-size: 36px; padding: 20px;">
                              <strong>{{temporary-password}}</strong></div>
                            <p style="padding-top: 24px; font-size: 14px;">Go to the <a href="{{login-link}}">{{login-link}}</a> page 
                            and <span class="il">log in</span>.</p>
                            <p style="padding-top: 24px; font-size: 14px;">Then you must also change this temporary password to a new one.</p>
                            <p style="font-size: 14px; color: #55575a; padding-top: 32px;">Best
                              Regards,<br />{{service-name}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</body>

</html>